.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 2px black;
    border-bottom: 1px solid #ddd;
    position: sticky;
    width: 100%;
    top: 50px;
    background-color: white;
    z-index: 999;
    box-sizing: border-box;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a:hover {
    text-decoration: underline;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 5px;
}
.nav-icons a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-right: 5px;
}
.nav-icons a:hover {
    text-decoration: underline;
}
.nav-icons i {
    font-size: 18px;
    margin-right: 5px;
}